main {
  text-align: center;
}

main h2 {
  font-size: 30px;
  color: #0033cc;
}

main p {
  font-size: 18px;
  line-height: 1.5;
}

hr {
  width: 60%;
  margin: 20px auto;
  border: 1px solid #b30000;
}

.imagens {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.imagens img {
  width: 220px;
  border-radius: 10px;
  border: 3px solid #0033cc;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

.imagens img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}