footer {
  background: #b30000;
  color: white;
  text-align: center;
  padding: 12px;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #0033cc;
  color: white;
}

td, th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  nav ul li {
    display: block;
  }

  img {
    width: 100%;
  }
}