body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f2f2f2;
  color: #222;
}

header {
  background: #b30000;
  color: white;
  text-align: center;
  padding: 15px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 10px;
}

nav a {
  color: rgb(15, 14, 14);
  text-decoration: none;
  font-weight: bold;
}

main {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  color: #0033cc;
}

h3 {
  color: #b30000;
}

img {
  width: 200px;
  margin: 10px;
  border-radius: 8px;
}

input[type="submit"] {
  background: #0033cc;
  color: white;
  padding: 8px;
  border: none;
}

input[type="reset"] {
  background: #b30000;
  color: white;
  padding: 8px;
  border: none;
}

.imagens {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.imagens img {
  width: 220px;
  border-radius: 10px;
  border: 3px solid #0033cc;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

.imagens img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}